*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body {
    background: rgb(9,9,121);
    background: linear-gradient(0deg, rgba(0, 54, 172, 1) 35%, rgba(76, 155, 231, 1) 100%);
    background-repeat: no-repeat;
}

figure{
    width: 230px;
    height: 230px;
    border: 10px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin: 20px auto;
}

figure img{
    border-radius: 50%;
    margin-top: 5px;
    width: 95%;
    height: auto;
}

.name{
    color: #ffffff;
}

/* ============ social css =============== */
.social {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    height: 50px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;;
}

.social a{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    transition: transform 500ms ease;
}

.social a:hover{
    transform: scale(1.2);
}

/* ============ skills css =============== */

.skills h4{
    border-radius: 8px;
    border: 0.8px solid rgba(255, 255, 255, 0.2);
    font-size: 1rem;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    padding: 5px;
}

.skills h4 span{
    display: inline-block;
}
.line{
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    position: relative;
    top: -14px;
}

.introduce {
    margin-bottom: 22px;
}

.introduce p{
    color: rgba(3, 218, 198, 1);
    line-height: 4px;
}

/* 
.line::before{
    content: '';
    width: 100%;
    position: absolute;
    height: 25px;
    z-index: 0;
    border:1px solid #000;
} */
.line::after{
    content: '';
    width: 100%;
    border-radius: 20px;
    outline: none;
    display: block;
    height: 5px;
    z-index: 999;
    /* background: #03DAC6; */
    background: linear-gradient(to left, rgba(76, 155, 231, 1) 30%, rgba(3, 218, 198, 1) 100%);
    transition: 0.8s;
    animation: animate 1 4s;
}

.line-1::after{
    max-width: 80%;
}
.line-2::after{
    max-width: 80%;
}
.line-3::after{
    max-width: 50%;
}
.line-4::after{
    max-width: 80%;
}
.line-5::after{
    max-width: 80%;
}
.line-6::after{
    max-width: 70%;
}
.line-7::after{
    max-width: 60%;
}
@keyframes animate {
    0%{
        width: 0;
    }100%{
        width: 100%;
    }
}